<article id="post-{{ post.id }}" class="post row-fluid">
  <a class="thumb" href="{{ post.permalink }}">
    <img src="{{ thumbnail(post.thumbnail.url, asset_url('img/default-thumb.jpg')) }}">
  </a>
  <div class="info">
    <time class="post-date" datetime="{{ post.date }}">{{ post.formatted_date }}</time>
    <h2 class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    <p class="post-excerpt">{{ post.excerpt }}</p>
  </div>
</article>
